@page "/"

<h1>Test Blazor Components (Server)</h1>

<div style="margin-top: 1em;">
    <span>Random Generator 1:</span>
    <RandomButton />
</div>
<div style="margin-top: 1em;">
    <span>Random Generator 2:</span>
    <RandomButton Max=1000 />
</div>

@code {

}
